<div class="container" id="mainNav">
<div class="row-fluid">
  <div class="span2">
    <%= render 'layouts/sidenav' %>
  </div>
  <div class="span8">
  <div class="well">
  	<p>start page
    </div>
    </div>
</div>
</div>