<div class="hero-unit">
    <h2>Welcome <%= @users.name%>
    <hr>
    <% if !@enrolled_classes.nil? %>
    	<h4>Your enrolled classes
    <% else %>
        <h4>Your are not enrolled in any classes
	<% end %>
</div>