<h2>Add New Category</h2>
<%= simple_form_for @cat do |f| %>
  <%= f.error_notification %>
  <%= f.input :name, :required => true, :autofocus => true %>
  <%= f.button :submit, 'Add Category', :class => 'btn-primary' %>
<% end %>