<div class="container" id="mainNav">
  <div class="row-fluid">
    <div class="span2">
          <%= render 'layouts/sidenav' %>
        </div>
      <div class="span10">
        <div class="well">
          <p>Default stats path
           <%= high_chart("my_id4", @chart) do |c| %>
            <%= raw "options.tooltip.formatter = function() {return '<b>'+ this.point.name +'</b>: '+ this.y +' %';}"  %>
            <%= raw "options.plotOptions.pie.dataLabels.formatter = function() { if (this.y > 5) return this.point.name; }"  %>
           <% end %>
      </div>
      </div>
    </div>
  </div>
</div>