<% if user_signed_in? %>
	<ul class="nav nav-tabs nav-stacked">
	    <li>
	    <%= link_to 'Home'%>
	    </li>
	    <li>
	    <%= link_to 'Quizzes'%>
	    </li>
	    <li>
	    <%= link_to 'Study Guides' %>
	    </li>
	    <li>
	    <%= link_to 'Stats' %>
	    </li>
	</ul>
<% end %>